@red: #c14508;
@yellow: #f9de2d;
@green: #42c21c;
@black: #2f2f2f;
@pink: #8d49a1;

.bg-red { background-color: @red }
.bg-yellow { background-color: @yellow }
.bg-green { background-color: @green }
.bg-black { background-color: @black }
.bg-pink { background-color: @pink }

.white { color: #fff; }

.scroll-by {
  width: 100%;
  padding: 1rem 0;
  position: relative;
}
.fade-left, .fade-right {
  position: relative;
}

.full-height {
  height: 100%;
}

.fade-right {
  text-align: right;
}
